<div class="page-header">
  <%= link_to project_video_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to project_video_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Edit Video metadata</h1>
</div>

<%= simple_form_for @video, 
    url: project_video_path,
    method: 'PATCH'  do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :meters %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
