<div class="page-header">
  <%= link_to new_project_video_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Video
  <% end %>
  <h1>Listing videos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Project</th>
            <th>file</th>
            <th>Meters</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @videos) do |video| %>
            <td><%= video.name %></td>
            <td><%= video.description %></td>
            <td><%= video.project %></td>
            <td><%= video.video %></td>
            <td><%= video.meters %></td>
            <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_project_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
