<div class="page-header">
  <%= link_to project_path(@project), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Show video</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @video.name %></dd>

  <dt>Description:</dt>
  <dd><%= @video.description %></dd>

  <dt>Project:</dt>
  <dd><%= @video.project %></dd>

  <dt>Meters:</dt>
  <dd><%= @video.meters %></dd>
  
  <dt>Video:</dt>
  <video width= "<%=@video.width%>" height= "<%=@video.height%>" controls>
  <source src="<%= @video.file %>" type="video/webm">
  Your browser does not support the video tag.
  </video>
  <button id="snapshot" class="btn btn-primary" disabled >Snapshot</button>








</dl>
