<%= simple_form_for @snapshot, 
    url: project_video_snapshot_path,
    method: 'PATCH'  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
